<h1>Регистрацията на карта е успешна</h1>
<p>
    <div class="item-row">
        <div class="item-label">Номер на карта:</div>
        <div class="item-value">{{cardNumber}}</div>
    </div>
    <div class="item-row">
        <div class="item-label">e-mail:</div>
        <div class="item-value">{{email}}</div>
    </div>
    <div class="item-row">
        <div class="item-label">Прякор:</div>
        <div class="item-value">{{nick}}</div>
    </div>
    <div class="item-row">
        <div class="item-label">Собствено име:</div>
        <div class="item-value">{{firstName}}</div>
    </div>
    <div class="item-row">
        <div class="item-label">Фамилно име:</div>
        <div class="item-value">{{lastName}}</div>
    </div>
</p>