<h1>
    {{title}}
</h1>
<div>
    <form action="" method="POST">
        <div class="item-row">
            <div class="item-value"><input placeholder="E-mail" type="text" name="email" id="email" value="{{email}}"></div>
        </div>
        <div class="item-row">
            <div class="item-value"><input placeholder="Потвърждение E-mail" type="text" name="emailconfirm" id="email-confirm"></div>
        </div>
        <div class="item-row">
            <div class="item-value"><input placeholder="Прякор" type="text" name="nick" id="nick" value="{{nick}}"></div>
        </div>
        <div class="item-row">
            <div class="item-value"><input placeholder="Собствено име" type="text" name="firstname" id="first-name" value="{{firstName}}"></div>
        </div>
        <div class="item-row">
            <div class="item-value"><input placeholder="Фамилно име" type="text" name="lastname" id="last-name" value="{{lastName}}"></div>
        </div>
        <div class="item-row">
            <input type="submit" name="" value="Изпрати">
        </div>
    </form>

    <ul class="bottom-navigation">
        <li><a href="/check">Проверка на карта</a></li>
        <li><a href="/add">Въвеждане на талон</a></li>
    </ul>
</div>